<!DOCTYPE html>
<head>
 
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
      font-family: 'Arial', sans-serif;
      color: #333;
    }

    h1, h2, p {
      text-align: center;
    }

    h1 {
      color: #4CAF50;
    }

    h2 {
      color: #333;
    }

    p {
      margin: 10px 0;
    }

    strong {
      font-weight: bold;
    }

    .capitalize {
      text-transform: capitalize;
    }
  </style>
</head>
<body>
  <div>
 <h1>Princess Jewel received your payment of <strong>{{currency}} {{amount}}</strong></h1>
    <h2>Transaction details</h2>
    <p>Reference: <strong>{{reference}}</strong></p>
     <p>Transaction Type: <strong class="capitalize">{{transactionType}}</strong></p>
      <p>Date: <strong>{{date}}</strong></p>
    <p>Bank: <strong>{{bank}}</strong></p>
    <p>Card: <strong class="capitalize">{{cardType}} ending with {{lastFourDigits}}</strong></p>
  </div>

</body>
</html>
